# --- Ignore top-level repository folders ---

/datasets/
/data/
/comparisons/
/wandb/

# --- Ignore heavy/generated folders inside experiments ---

/experiments/**/data/
/experiments/**/datasets/
/experiments/**/models/
/experiments/**/results/
/experiments/**/wandb/
/experiments/**/wandb_results/
/experiments/**/repo/
/experiments/**/senseiver/

/experiments/ft_llnl_jag/icf-jag-10k/

/models/*
!/models/morph-s-pli/
!/models/morph-s-pli/config.yaml
!/models/morph-s-pli/normalization.npy
!/models/morph-s-pli/model.pth

# --- Python cache ---

__pycache__/
*.py[cod]
*$py.class

# --- Ignore packaging files ---

build/
dist/
*.egg-info/
.pytest_cache/
__pycache__/